/* CSS Document */


@font-face {
    font-family: "myFirstFont";
    src: url("../font/OpenSans-Regular.ttf");

	
}

body { font-family: myFirstFont;
font-size:12px;
color:#666666;
line-height:20px;
margin-top:0px;

}


.main_div{
width:1024px;
height:auto;

}

.top_line{
width:1024px;
height:8px;
background-color:#c2282d;
}
.main_body{
width:900px;
height:auto;
}

.top_logo{
width:900px;
height:100 px;
float:left;
}

.menus{
width:900	px;
height:30px;
float:left;
font-size:18px;
font-weight:bold;
color:#393637;
}
.rightcontent_div{
width:550px;
height:auto;
float:left;
}
.leftcontent_div{
width:250px;
height:auto;
float:right;
margin-top:30px;
}
h1{
font-size:20px;
color:#008b56;
font-weight:600;
}

h2{
font-family:myFirstFont;
font-size:16px;
color:#008b56;
font-weight:600;
}

h3{
font-size:16px;
color:#FFFFFF;
}
h4{
font-size:16px;
color:#FFFFFF
}
p{
font-size:12px;
color:#606060;
}
table{
font-family:myFirstFont;

}

.category{
color:#009966;
font-size:15px;
}

.left_strap{
font-size:16px;
color:#FFFFFF;
}

.footer{
width:1024px;
height:auto;
float:left;
background-color:#626467;
}
.footer_inside{
width:900px;
height:auto;
font-size:14px;

color:#FFFFFF;
}